.home-container {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.home-card {
    background-color: #FFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.home-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px 20px 10px;
}

.home-content-container h1 {
    font-size: 1em;
    margin-bottom: 15px;
    width: 260px;
}

.home-content-container p {
    color: #9E9E9E;
    font-size: 0.6em;
    margin-bottom: 30px;
    width: 260px;
}

.home-image-container {
    padding: 50px 15px;
}

.home-image-container svg {
    height: auto;
    width: 100%;
}